body {
    background-color: black;
    color: white;
    text-align: center;
}
h1 {
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
}
p {
    text-transform: uppercase;
}
img {
    border: 5px solid white;
}