<%- include("header.ejs") %>
    <div class="box" id="heading">
        <h1>
            <%= locals.datetoDisplayed %>
          </h1>
    </div>    
    <div class="box">
        <%# const listComplete = []; %>
        <%# listComplete.push(locals.todolists); %>
        <%#= listComplete %>

        <% list = [] %>
        <ul class="list-group">
            <% for(let i=0; i<list.length; i++) { %>
                <li class="item">
                    <div class="item">
                        <input type="checkbox">
                        <p>
                            <%= list[i] %>                                
                        </p>
                    </div>
                </li>
            <% } %>    
        </ul>
        <% list.push(locals.todolists); %>
        
        <form method="post" action="/">
            <input type="text" name="taskName" placeholder="New Item" autocomplete="off">
            <button>+</button>
        </form>
    </div>

<%- include("footer.ejs") %>

<!-- <form class="item" action="/" method="post">
    <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
    <button type="submit" name="list" value="Friday," october="" 13="">+</button>
  </form> -->
  <%# else { %>
    <!-- <ul>
        <%# for(let i=0; i<locals.todolists.length; i++) { %>
            <li>
                <%#= locals.todolists[i] %>
            </li>
        <%# } %>
    </ul>
<%# } %> -->