<%- include("header.ejs") %>
    <div class="box" id="heading">
        <h1>
            <%= locals.datetoDisplayed %>
          </h1>
    </div>    
    <div class="box">       
        <ul class="list-group"> 
            <% for(let i=0; i<todolists.length; i++) { %>
                <li class="item">
                    <div class="item">
                        <input type="checkbox">
                        <p>
                            <%= todolists[i] %>  
                                                          
                        </p>
                    </div>
                </li>
            <% } %>
        </ul>
            
             
        
        <form method="post" action="/">
            <input type="text" name="taskName" placeholder="New Item" autocomplete="off">
            <button>+</button>
        </form>
    </div>

<%- include("footer.ejs") %>

